
<%- include('partials/homeheader') %>
<nav class="bd-navbar navbar has-shadow is-spaced is-fixed-top" role="navigation" aria-label="main navigation" >
    <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="" style="padding: 0 0 0;">
        <img src="./photos/logo.png" id="logo">
      </a>
     
      <a class="navbar-item is-hidden-desktop" href="" target="_blank">
        <span class="icon" style="color: #333;">
          <i class="fab fa-lg fa-github-alt"></i>
        </span>
      </a>
  
      <!-- <a class="navbar-item is-hidden-desktop" href="" target="_blank">
        <span class="icon" style="color: #55acee;">
          <i class="fab fa-lg fa-twitter"></i>
        </span>
      </a> -->
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" style="margin-right: 5%;">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
     <div class="navbar-start" id="home">
         <a class="navbar-item" href="/secrets"> 
          <i class="fas fa-home" style="color: #C83516;"></i><strong>Home</strong> 
        </a>
  
        <a class="navbar-item" href="/blogs">  <i class="fas fa-globe-americas" style="color: #24C816;"></i>
       <strong> Contributions</strong>  
        </a> 
        <a class="navbar-item" href="/blogs/new"> <i class="fas fa-plus" style="color: blueviolet;"></i>
         <strong> Create</strong>   
          </a> 
         <!-- <a class="navbar-item">  <i class="fas fa-user-alt" style="color: #A3AB13;"></i> 
            Profile
          </a> -->
      </div>
      <div class="navbar-end">
        <a class="bd-navbar-icon navbar-item" href="" target="_blank" id="hide">
            <span class="icon" style="color: #333;">
              <i class="fab fa-lg fa-github-alt"></i>
            </span>
          </a>
    
          <!-- <a class="bd-navbar-icon navbar-item" href="" target="_blank" id="hide">
            <span class="icon" style="color: #55acee;">
              <i class="fab fa-lg fa-twitter"></i>
            </span>
          </a> -->
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-danger" href="/logout" role="button"><i class="fas fa-sign-out-alt"></i>
              <strong>Log Out</strong>
            </a>
            <!-- <a class="button is-light" href="/logout" role="button"><i class="fas fa-sign-in-alt"></i>
              Log Out
            </a> -->
          </div>
        </div>
      </div>
    </div>
</div>
  </nav>

  
  <main>
  <!-- <section class="site-title" >
    <div class="site-background" data-aos="fade-up" data-aos-delay="100" style="margin-top: 5%;">
        
        <h1>Welcome To Dlog <i class="fas fa-door-open"></i></h1>
        <h3>Doorway To Memories & Experiences</h3>
        <a href="#centre"><button class="btn">Explore</button></a>
    </div>
</section> -->
<br>
<hr class="rounded" id="centre" style="margin-right: 3%;margin-left: 3%;">
<!-- <h1 style="text-align: center;">Choose Category <i class="fas fa-hand-holding-heart"></i></h1>

<div class="field has-addons" style="margin-left: 5%;margin-right: 5%;">
    <div class="control is-expanded">
      <div class="select is-fullwidth">
        <select name="choosecat">
          <option value="Friendship">Friendship</option>
          <option value="Adventures">Adventures</option>
        </select>
      </div>
    </div> -->

    <!-- <div class="control">
      <button type="submit" class="button is-primary"><i class="fab fa-searchengin"></i>Search</button>
    </div> -->
  </div>
  <br>
  <hr class="rounded1" style="margin-right: 23%;margin-left: 23%;">
  <% blogss.forEach(function(blog){ %>
    <section class="container" >
        <div class="site-content" style="grid-template-columns: 100% 0%;">
            
            <div class="posts">
                <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
                  <div class="post-title" style="text-align: center;padding-bottom: 0px;">
                  <div class="box" >
                    <a href="#" id="title"><i class="fab fa-battle-net" style="color:#178D27 ;"></i> <%= blog.title %></a></div>
                  </div>
                    <div class="post-image">
                        <div>
                          <% if(blog.image!=null){ %>
                          <img src="/uploads/<%= blog.image %>" class="img" alt="blog1">
                          <%  } %>
                        </div>
                        <div class="post-info flex-row">
                            <span><i class="fas fa-user text-gray"></i>&nbsp;&nbsp;<%= blog.user %></span>
                            <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;<%= blog.created %></span>
                        </div>
                    </div>
                    <div class="post-title" style="text-align: center;padding-bottom: 0px;">
                      
                      <div class="message-body" style="border-color: chartreuse;">
                        <p id="content"><%= blog.content %>
                        </div>
                        
                        </p>
                       
                    </div>
                </div>
              <br>
                
    </section>
    <hr class="rounded1" style="margin-right: 8%;margin-left: 10%;padding-bottom: 10px;margin-top:0px ;">
  <% }) %>

</main>


<!-- Jquery Library file -->
<script src="./js/Jquery3.4.1.min.js"></script>

<!-- --------- Owl-Carousel js ------------------->
<script src="./js/owl.carousel.min.js"></script>

<!-- ------------ AOS js Library  ------------------------- -->
<script src="./js/aos.js"></script>

<!-- Custom Javascript file -->
<script src="./js/main.js"></script>


  <%- include('partials/footer') %>